doctype html
head
    title getit | #{title}
    meta(charset='utf-8')
    link(rel="stylesheet" href="/css/style.css")
body
    h1 
      a(href="/") The world of possibilities!      
    hr
    block content 