extends layout

block content
  -var username = user.username
  h2 @ #{username}
  div
    ul
    each publication in publications
      //Native javascript on pug
      -var content = publication.publication
      li #{content} 
  